.cajacontacto{
    width: 100%;
    display: flex;
    background-color: #FFD8CC;
    border-radius: 35px;
    box-shadow: 0px 0px 15px #FFD8CC;
    
}
.escribimeycontactame{
    display: flex;
    border-radius: 30px;
    background-color: #FFEEDB;
    width: 85%;
    margin: 10em auto;
    box-shadow: 0px 0px 15px #FFEEDB;
}
.contactonombre{
    display: flex; 
    margin-top: 1.25em;
   
}
.cajacontactame{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 4em;
    margin-top: 3.125em; 
    margin-bottom: 5em;
}
.tituloescribime{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}
.titulocontactame{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.pcontacto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.875em;
    letter-spacing: 3px; 
    font-size: large;  
}
.redes-escribime{
    margin-top: 1.875em;
}
.icono{
    font-size: 2rem;
    
}
.icono-redes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.25em;
    /*width: 2.5em;
    height: 2.5em;
    border-radius: 70%;
    border: #0A1D37 1px solid;
    padding-left: 0.5em;*/
}
.icono-redes:hover{
    
    color:#FFBD9B;
}
.link-redes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 1.25em;
    font-size: medium;
}
.link-redes:hover{
    color: #FFBD9B;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: block;
    margin: 0.5em 0;
}
.inputnombre{
    border-radius: 20px;
    width: 90%;
    height: 3em;
    border: 1px solid #FFEEDB;
    padding-left: 1.25em;
}
.email{
    margin-top: 1.875em;   
}
.boton2{
background-color:#FFBD9B ;
color: #411f2d ;
border: none;
border-radius: 20px;
padding: 1em;
font-size: 1.35rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight:900;
margin-top: 0.625em;
}
.boton2:hover{
background-color: #411f2d ;
color: #FFEEDB;
transition: 0.4s;
}
.inputemail{
    width: 75%;
    margin-bottom: 0.625em;
    border-radius: 1.25em;
    height: 3em;
    border: 1px solid #FFEEDB;
    padding-left: 1.25em;
}
.redondeado{
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    height:10em;
    padding-left: 1.25em;
    padding-top: 0.625em;
    resize: none;    
}
.nombreyapellido{
    display: block;  
    margin: 0.188em;
}