.seccionmisproyectos{
    width: 100%;
    margin-top: 5.625em;
    color: #411f2d;

}
.cajasproyectos{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin: 0.625em auto;
    width: 80%;
    margin-top: 3.125em;
}
.cajasproyectos .caja:hover{
    border: #0A1D37 1px solid;
}
.caja{
    display: flex;
    border: #FFBD9B 1px solid;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 21.875em;
    height: 18.75em;
    margin: 0.5em 0;
    
}
figure{
    text-align: center;
    margin: auto auto;
}
