header{
    width: 100%;
    background:#FFBD9B;
    height: 6.25em;
    display: flex;
    align-items: center;
    position: fixed;
    opacity: 0.9;
    border-radius: 35px;
    border: 1px solid #FFD8CC;
    top: 0px;
    justify-content: flex-end;
    box-shadow: 0px 0px 15px #FFBD9B;
}
nav{
    margin-right: 4.375em;
}
nav ul li{
    display: inline; 
    margin: 0 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.menu-header-button{ 
    background-color: #FFD8CC;
    border-radius: 10px ;
    padding: 0.9em;
}
.menu-header-button:hover{
    color: #FFD8CC;
    background-color: #0A1D37;
    transition: 0.4s;
}
              